<div class="container mt-3" style="min-height: 79vh;">
    <div class="row mt-1 mb-5">
        <div class="d-flex justify-content-end align-items-center">
            <button type="button" class="button-pink mt-2" routerLink="/songs" routerLinkActive="true">Back</button>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-6 preview">
                <div class="row preview-song ms-0">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <img class="mt-5" src="" id="cover-preview"/>
                    </div>
                    <div class="col-12 preview-song-info mt-3">
                        <div class="preview-song-text">
                            <p>Title: {{song.title}}</p>
                            <p>Artist: {{song.artist}}</p>
                            <p>Album: {{song.album}}</p>
                            <p>Date Published: {{song.publishedOn |  date : 'dd-MM-yyyy' }}</p>
                            <p>Genres: {{song.genres}}</p>
                        </div>
    
                    </div>
                    <div class="preview-song-link mt-2 mb-3">
                        <hr>
                        <div class="d-flex justify-content-center align-items-center">
                            <audio src="{{song.songLink}}" id="song-preview" preload="auto">Listen to the song</audio>
                            <button class="icon-button" (click)="play()">
                                <img class="play-icon" src="../../../../assets/images/play.png" alt="play icon">
                            </button>
                            <button class="icon-button" (click)="pause()">
                                <img class="action-icon" src="../../../../assets/images/pause.png" alt="pause icon">
                            </button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

