<div class="container mt-5" style="min-height: 75vh;">
    <div class="row">
        <div class="col-10">
            <h1>Artists</h1>
        </div>
        <div class="col-2">
            <button type="button" class="button-yellow mt-2" routerLink="/artists/new" routerLinkActive="true">New Artist</button>
        </div>
    </div>
    <hr>
    <div class="row gy-4">
        <div *ngFor="let artist of artists" class="col-4">
            <a routerLink="{{artist.id}}/details" routerLinkActive="true">
                <div class="artist-preview">
                    <img *ngIf="artist.image == undefined" src="../../../../assets/images/artist{{artist.id}}.jpg" alt="" id="{{artist.id}}-artist">
                    <img *ngIf="artist.image !== undefined" src="" alt="" id="{{artist.id}}-cover">
                    <h3>{{artist.name}}</h3>
                </div>
            </a>
        </div>
    </div>
</div>
