:root {
    --white: #F8F7FF;
    --light-purple: #ac57c9;
    --dark-purple: #81389A;
    --pink: #FF3594;
    --yellow: #F58F29;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    src: url(./assets/fonts/Noto_Sans/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Pacifico";
    font-style: normal;
    src: url(./assets/fonts/Pacifico/Pacifico-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Passion One";
    font-style: normal;
    src: url(./assets/fonts/Passion_One/PassionOne-Regular.ttf) format('truetype');
}

body {
    font-family: Passion One;
    color: var(--white);
    background-image: linear-gradient(to bottom, var(--light-purple), var(--dark-purple));
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 24px;
}

.fancy {
    font-family: Pacifico;
    color: var(--yellow);
    font-size: 28px;
}

.main-text {
    max-width: 50%;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .main-text {
        min-width: 100%;
    }

    .song {
        max-width: 90%;
    }
}

.button-pink {
    border-radius: 12px;
    background-color: var(--pink);
    min-height: 56px;
    min-width: 195px;
    border: none;
    color: white;
    font-size: 20px;
    box-shadow: rgb(157 33 92) 0px 5px;
    transition: 0.3s ease-out;
}

.button-pink:disabled {
    opacity: 0.7;
}

.button-pink:hover {
    transition: 0.3s ease-in;
    transform: translateY(5px);
    box-shadow: none;
}

.button-purple {
    border-radius: 12px;
    background-color: var(--dark-purple);
    min-height: 56px;
    min-width: 195px;
    border: none;
    color: white;
    font-size: 20px;
    box-shadow: #954DAC 0px 5px;
    transition: 0.3s ease-out;
}

.button-purple:hover {
    transition: 0.3s ease-in;
    transform: translateY(5px);
    box-shadow: none;
}

.button-yellow {
    border-radius: 12px;
    background-color: var(--yellow);
    min-height: 56px;
    min-width: 195px;
    border: none;
    color: white;
    font-size: 20px;
    box-shadow: #8d5722 0px 5px;
    transition: 0.3s ease-out;
}

.button-yellow:hover {
    transition: 0.3s ease-in;
    transform: translateY(5px);
    box-shadow: none;
}

.scroll-icon {
    max-width: 64px;
    opacity: 0.7;
}

.scroll-icon-up {
    max-width: 64px;
    opacity: 0.7;
    transform: scale(-1);
}

.scroll-icon:hover {
    opacity: 1;
}

.scroll-icon-up:hover {
    opacity: 1;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 90vh;
}

.hidden {
    opacity: 0;
    filter: blur(2.5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.song:nth-child(2) {
    transition-delay: 200ms;
}

.song:nth-child(3) {
    transition-delay: 400ms;
}

.song:nth-child(4) {
    transition-delay: 600ms;
}

.song img {
    max-width: 100%;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--yellow), var(--pink));
}

.table {
    color: white;
}

table th {
    font-size: 26px;
    font-weight: normal;
}

table td {
    font-size: 20px;
}

.form-input {
    border: none;
    border-bottom: 2px solid var(--yellow);
    color: white;
    font-size: 20px;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    transition: .2s;
}

.form-input:disabled:hover {
    border-bottom: 2px solid var(--yellow);
}

.form-input:active,
.form-input:focus,
.form-input:hover {
    outline: none;
    border-bottom-color: var(--yellow);
}

.input-wrap label {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 0px 0;
}

.input-wrap input::placeholder {
    color: white;
    font-size: 20px;
}

/*SELECTS*/
.select-wrap {
    border-bottom: 2px solid var(--yellow);
    margin-bottom: 10px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0);
}

.select-wrap label {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 2px 0px 0;
}

select {
    background-color: rgba(128, 128, 128, 0);
    border: 0px solid white;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

select:focus {
    outline: 0;
}

select:not(.multiple) option {
    background-color: var(--light-purple);
    border: 0px
}

.filter {
    border-radius: 16px;
    padding: 15px;
    background-color: #ab5ec5;
    border: 2px solid var(--white);
}

.song-list-cover img {
    max-width: 50px;
}

.song-list-info h3 {
    font-size: 20px;
    margin-bottom: 0px;
}

.song-list p {
    font-size: 18px;
    padding-top: 0px;
    margin-top: 0px;
}

.actions-icon {
    max-width: 24px;
    transition: 0.3s ease-out;
}

.actions-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.song-list td {
    height: 100%;
    line-height: 100%;
}

.song-row {
    transition: 0.3s ease-out;
}

.song-row:hover {
    background-color: var(--dark-purple);
    transition: 0.3s ease-in;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.info-icon {
    max-width: 16px;
    margin-bottom: 10px;
}