<section>
    <div class="container mt-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="main-text">
                <h1>Test your musical knowledge by playing games and setting new highscores!</h1>
                <button class="button-pink mt-2 mb-5 me-2">Play</button>
                <a href="#leaderboard">
                    <button class="button-yellow mt-2 mb-5 ms-2">Leaderboard</button>
                </a>
                <div>
                    <a href="#songs">
                        <img class="scroll-icon mt-5" src="../assets/images/scroll-bar.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
