<section>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="main-text">
                <h2>About us</h2>
                <p>Want to know more about us and why this website was made? Check out our about page where you can find <span class="fancy">all</span> of the information!</p>
                <button class="button-pink mt-2 mb-5">About us</button>

                <div>
                    <a href="#main">
                        <img class="scroll-icon-up mt-5" src="../assets/images/scroll-bar.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
