<form #userLoginForm="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="container" style="min-height: 80vh;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="row mt-5 gy-5">
                <div class="col-12 input-wrap">
                    <label>Email address</label><br />
                    <input style="min-width: 100%;" type="email" class="form-input" name="emailAddress" [(ngModel)]="user!.emailAddress" #emailAddress="ngModel" minlength="3" required [ngClass]="{'is-invalid': emailAddress.invalid && emailAddress.touched}"/>
                    <div *ngIf="emailAddress.invalid && emailAddress.touched" class="invalid-feedback">
                        <div *ngIf="emailAddress.errors!['required']">
                            Email Address is required
                        </div>
                        <div *ngIf="emailAddress.errors!['minlength']">
                            Email Address must be 3 chars long.
                        </div>
                    </div>
                </div>
        
                <div class="col-12 input-wrap">
                    <label>Password</label><br />
                    <input style="min-width: 100%;" type="password" class="form-input" name="password" [(ngModel)]="user!.password" #password="ngModel" minlength="3" required [ngClass]="{'is-invalid': password.invalid && password.touched}"/>
                </div>
        
                <div class="col-12 d-flex justify-content-start align-items-start mb-5">
                    <button type="submit" class="button-pink mt-2 me-3" [disabled]="!userLoginForm.valid">Login</button>
                    <button type="button" class="button-yellow mt-2" routerLink="../register" routerLinkActive="true">Register</button>
                </div>
            </div>
        </div>
    </div>
</form>
