<div class="container mt-5" style="min-height: 75vh;">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="score-text">
                    <h3>Well done <span class="fancy">{{user.name!}}!</span></h3>
                    <div class="row mt-5">
                        <div class="col-4">
                            <h3>Your final score is:</h3>
                            <h1>{{score.finalScore!}}</h1>
                        </div>
                        <div class="col-4" id="confetti"></div>
                        <div class="col-4">
                            <h3 class="mt-2">Leaderboard place:</h3>
                            <h1>{{leaderboardPlace!}}</h1>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <div class="row leaderboard">
                            <div class="col-12">
                                <h3>Top Leaderboard:</h3>
                                <table class="table mt-2" style="min-width: 350px;">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Rank</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let score of scores; let i = index;">
                                            <th scope="row"></th>
                                            <td style="color: #F58F29">{{i + 1}}</td>
                                            <td>{{score.user!.name!}}</td>
                                            <td>{{score.finalScore!}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <button type="button" class="button-pink mt-4 me-3" (click)="routeToGames()">Other Games</button>
                        <button type="button" class="button-yellow mt-4" (click)="routeToLeaderboard()">Full Leaderboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
