<div class="container mt-3">
    <div *ngIf="gameExists" class="row">
        <div class="col-9">
            <h1>Edit</h1>
        </div>
    </div>
    
    <div *ngIf="!gameExists">
        <h1>Create</h1>
    </div>

    <div class="row mt-1 mb-5">
        <div class="col-12 artist-form">
            <form #gameEditForm="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
                <div class="row mb-4 gy-5">
                    <div class="col-6">
                        <div class="col-12 input-wrap">
                            <label>Name</label><br />
                            <input type="text" class="form-input" name="name" [(ngModel)]="game!.name" #name="ngModel" minlength="3" required [ngClass]="{'is-invalid': name.invalid && name.touched}"/>
                            <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
                                <div *ngIf="name.errors!['required']">
                                    Name is required
                                </div>
                                <div *ngIf="name.errors!['minlength']">
                                    Name must be 3 chars long.
                                </div>
                            </div>
                        </div>
    
                        <div class="col-12 input-wrap mt-4">
                            <label>Description</label><br />
                            <textarea type="text" class="form-input" name="description" [(ngModel)]="game!.description" #description="ngModel" minlength="3" required [ngClass]="{'is-invalid': description.invalid && description.touched}"></textarea>
                            <div *ngIf="description.invalid && description.touched" class="invalid-feedback">
                                <div *ngIf="description.errors!['required']">
                                    Description is required
                                </div>
                                <div *ngIf="description.errors!['minlength']">
                                    Description must be 3 chars long.
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="select-wrap mt-3">
                                <label for="genres">Genres <img class="info-icon" src="../../../../assets/images/info.png" alt="info icon" ngbPopover="Hold the Ctrl key and Click to select multiple genres!" triggers="mouseenter:mouseleave"></label>
                                <select class="multiple" name="genres" id="genres" style="width: 100%;" multiple [(ngModel)]="game.genres" #genres="ngModel" required>
                                    <option *ngFor="let name of genreKeys;" [ngValue]="name"> {{name}} </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <h4 class="mb-3">Game Mode</h4>
                            <img class="actions-icon-bigger me-2" id="gamemode-1" src="../../../../assets/images/star.png" alt="" (click)="setGameMode($event, 1)">
                            <img class="actions-icon-bigger me-2" id="gamemode-2" src="../../../../assets/images/dice.png" alt="" (click)="setGameMode($event, 2)">
                            <img class="actions-icon-bigger" id="gamemode-3" src="../../../../assets/images/choice.png" alt="" (click)="setGameMode($event, 3)">
                            <div *ngIf="gameMode === 1 || gameMode === 2" class="col-12 input-wrap mt-2" style="max-width: 50%;">
                                <label>Song Amount</label><br />
                                <input type="text" class="form-input" name="songAmount" [(ngModel)]="songAmount"/>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="select-wrap mt-4">
                                <label for="genres">Private</label>
                                <input class="ms-2" type="checkbox" name="isPrivate" [(ngModel)]="game!.isPrivate" #isPrivate="ngModel">
                            </div>
                        </div>
                    </div>

                    <div class="col-6 artist-songs song-list" id="song-list">
                        <h2>Songs</h2>
                        <div style="overflow-y: scroll; max-height: 75vh">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Album</th>
                                        <th scope="col">Released</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let song of songs; let i = index;" class="song-row">
                                        <td><p class="pt-3">{{ i }}</p></td>
                                        <td>
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div class="song-list-cover">
                                                    <img *ngIf="song.coverImage !== undefined" src="" alt="" id="{{song._id}}-cover">
                                                </div>
                                                <div class="song-list-info mt-1 ms-2">
                                                    <h3>{{song.title}}</h3>
                                                    <p>{{song.artist!.name!}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td><p class="pt-3">{{song.album}}</p></td>
                                        <td><p class="pt-3">{{song.publishedOn |  date : 'dd-MM-yyyy' }}</p></td>
                                        <td *ngIf="songIsInGame(song._id!)">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a role="button" (click)="removeSong(song._id!)">
                                                    <img src="../../../../assets/images/remove.png" alt="" class="actions-icon mt-3">
                                                </a>
                                            </div>
                                        </td>
                                        <td *ngIf="!songIsInGame(song._id!)">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a role="button" (click)="addSong(song)">
                                                    <img src="../../../../assets/images/add.png" alt="" class="actions-icon mt-3">
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <button type="submit" class="button-pink mt-2 me-3" [disabled]="!gameEditForm.valid || amountOfPlays! > 0">Save</button>
                <button type="button" class="button-yellow mt-2" routerLink="/games" routerLinkActive="true">Cancel</button>
            </form>
            <p class="text-danger mt-1" *ngIf="amountOfPlays! > 0">Game has been played and is not editable!</p>
        </div>
    </div>
</div>
