<section>
    <div class="container mt-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="main-text">
                <h1>Test your musical knowledge by playing games and setting new highscores!</h1>
                <button class="button-pink mt-4 mb-5 me-2" routerLink="games" routerLinkActive="true">Play</button>
                <a href="#leaderboard">
                    <button class="button-yellow mt-2 mb-5 ms-2">Leaderboard</button>
                </a>
                <div>
                    <a href="#songs">
                        <img class="scroll-icon mt-5" src="../assets/images/scroll-bar.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="songs" class="hidden">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="main-text">
                <h2>Find new music!</h2>
                <p class="mt-2">By playing games you can <span class="fancy">discover</span> a lot of songs you might not know. You can even find new artists, genres or playlists that you might like.</p>
            </div>
        </div>

        <div class="row gx-0 mt-3 songs">
            <div class="col-lg-3 col-md-6 col-sm-1 song hidden">
                <img src="../assets/images/song1.png" alt="">
            </div>

            <div class="col-lg-3 col-md-6 col-sm-1 song hidden">
                <img src="../assets/images/song2.png" alt="">
            </div>

            <div class="col-lg-3 col-md-6 col-sm-1 song hidden">
                <img src="../assets/images/song3.png" alt="">
            </div>

            <div class="col-lg-3 col-md-6 col-sm-1 song hidden">
                <img src="../assets/images/song4.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="leaderboard">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="main-text">
                <h2>Leaderboard of all time</h2>
                <p><span class="fancy">Battle</span> for the top spot against people from all over the world! Climb the leaderboard by playing games and gaining scores. Show everyone who knows all the songs!</p>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="row leaderboard mt-5">
                <div class="col-12">
                    <table class="table" style="min-width: 500px;">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" style="min-width: 100px;">Rank</th>
                                <th scope="col" style="min-width: 220px;">Username</th>
                                <th scope="col" style="min-width: 170px;">Total Score</th>
                                <th scope="col" style="min-width: 170px;">Total Games</th>
                                <th scope="col" style="min-width: 170px;">Total Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let score of scores; let i = index;">
                                <th scope="row"></th>
                                <td style="color: #F58F29">{{i + 1}}</td>
                                <td>{{score.user!.name!}}</td>
                                <td>{{score.finalScore!}}</td>
                                <td>{{score.totalGames!}}</td>
                                <td>{{score.totalTime! * 1000 | date:'H:mm:ss':'UTC'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="main-text">
                <h2>About us</h2>
                <p>Want to know more about us and why this website was made? Check out our about page where you can find <span class="fancy">all</span> of the information!</p>
                <a href="#" routerLink="about" routerLinkActive="true">
                    <button class="button-pink mt-2 mb-5">About us</button>
                </a>

                <div>
                    <a href="#main">
                        <img class="scroll-icon-up mt-5" src="../assets/images/scroll-bar.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
