<section id="leaderboard">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="main-text">
                <h2>Leaderboard of all time</h2>
                <p><span class="fancy">Battle</span> for the top spot against people from all over the world! Scale the leaderboard by playing games and gaining scores. Show everyone who knows all the songs!</p>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="row leaderboard mt-5">
                <div class="col-12">
                    <table class="table" style="min-width: 500px;">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Rank</th>
                                <th scope="col">Username</th>
                                <th scope="col">Games Played</th>
                                <th scope="col">Total Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td>1</td>
                                <td>Rik</td>
                                <td>500</td>
                                <td>10000</td>
                            </tr>

                            <tr>
                                <th scope="row"></th>
                                <td>2</td>
                                <td>Rik2</td>
                                <td>200</td>
                                <td>5000</td>
                            </tr>

                            <tr>
                                <th scope="row"></th>
                                <td>3</td>
                                <td>Rik3</td>
                                <td>100</td>
                                <td>2500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
