<div class="container mt-5" style="min-height: 100vh;">
    <router-outlet></router-outlet>

    <hr>

    <div class="row mt-5">
        <h2>Stats</h2>
        <div class="col-6 mt-2">
            <h4>Totals</h4>
            <div class="line-yellow"></div>
            <p>Score: {{stats!.totalScore!}}</p>
            <p>Games Played: {{stats!.totalGames!}}</p>
            <p>Time Played: {{stats!.totalTime!}}</p>
        </div>

        <div class="col-6 mt-2">
            <h4>Averages per Game</h4>
            <div class="line-yellow"></div>
            <p>Score: {{stats!.averageScorePerGame! | number : '1.2-2'}}</p>
            <p>Time Played: {{stats!.averageTimePerGame! * 1000 | date:'H:mm:ss':'UTC'}}</p>
        </div>
    </div>

    <hr>

    <div class="row mt-5">
        <h2>Delete</h2>
        <p>You can delete your account by pressing the button below. (This action can not be undone!)</p>
        <div class="col-12 d-flex justify-content-start align-items-start mb-5">
            <button type="submit" class="button-yellow mt-2" (click)="deleteUser()">Delete Account</button>
        </div>
    </div>
</div>
