<div class="container mt-5" style="min-height: 100vh;">
    <router-outlet></router-outlet>

    <hr>

    <div class="row mt-5">
        <h2>Stats</h2>
        <p>Coming soon...</p>
    </div>

    <hr>

    <h2>Delete</h2>
    <p>You can delete your account by pressing the button below. (This action can not be undone!)</p>
    <div class="col-12 d-flex justify-content-start align-items-start mb-5">
        <button type="submit" class="button-yellow mt-2" (click)="deleteUser()">Delete Account</button>
    </div>
</div>
