<nav class="navbar navbar-expand-md navbar-dark">
	<div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/Icon.png" alt="" style="max-width: 75px;">
        </a>
		<button
			class="navbar-toggler"
			type="button"
			aria-controls="navbarContent"
			[attr.aria-expanded]="!collapsed"
			aria-label="Toggle navigation"
			(click)="collapsed = !collapsed"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			<ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation" href="#">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link hover-underline-animation" href="#" routerLink="login" routerLinkActive="true">Profile</a>
                </li>
			</ul>
		</div>
	</div>
</nav>
