<nav class="navbar navbar-expand-md navbar-dark">
	<div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="" routerLinkActive="true">
            <img src="../../../assets/images/Icon.png" alt="" style="max-width: 75px;">
        </a>
		<button
			class="navbar-toggler"
			type="button"
			aria-controls="navbarContent"
			[attr.aria-expanded]="!collapsed"
			aria-label="Toggle navigation"
			(click)="collapsed = !collapsed"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			<ul class="navbar-nav ms-auto">
				<li ngbDropdown class="nav-item custom-dropdown mt-2 me-3">
					<button type="button" class="" id="dropdownBasic1" ngbDropdownToggle>
						Games
					</button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
						<button ngbDropdownItem class="nav-link hover-underline-animation" routerLink="games" routerLinkActive="true">All Games</button>
						<button ngbDropdownItem class="nav-link hover-underline-animation" routerLink="games/me" routerLinkActive="true">My Games</button>
					</div>	
				</li>
				<li class="nav-item">
                    <a class="nav-link hover-underline-animation" href="#" routerLink="songs" routerLinkActive="true">Songs</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link hover-underline-animation" href="#" routerLink="artists" routerLinkActive="true">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation" href="#" routerLink="about" routerLinkActive="true">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link hover-underline-animation" href="#" routerLink="profile/637e46d3e80a78b11c8fdd88" routerLinkActive="true">Profile</a>
                </li>
			</ul>
		</div>
	</div>
</nav>
